html{
	scroll-behavior: smooth;
}
body{
	overflow-x: hidden;
}
h1{
	font-size: 15vh;
	font-family: 'Josefin Sans', sans-serif;
	color: #bf4aa8;
}
h2{
	font-size: 6vh;
	font-family: 'Josefin Sans', sans-serif;
	color: #000080;
}
h3{
	font-size: 3vh;
	font-family: 'Montserrat', sans-serif;
	color: white;
}
h4{
	font-size: 2vh;
	font-family: 'Montserrat', sans-serif;
	color: white;
}
.menu{
}
.menu a{
	display: inline-block;
  color: white;
  text-align: center;
  padding: 2vw;
  text-decoration: none;
	font-family: 'Montserrat', sans-serif;
  font-size: 2vh;
}
.menu a:hover{
	color: red;
}
.menu2{
		background-color: blue;
}
@-webkit-keyframes browse{
	from{background-color: orange;}
	to{background-color: #51D0DE;}
}
@-webkit-keyframes resting{
	from{background-color: #51D0DE;}
	to{background-color: orange;}
}
.firstTransition{
	-webkit-animation: browse 2s;
}
.secondTransition{
	-webkit-animation: resting 2s;
}
.profile{
	border-radius: 50%;
	width: 25vh;
	height: 25vh;
}
.homeImg{
	background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/00/10/02/06563189be798ab.jpg");
}
.button {
  border: none;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 2vh;
	font-family: 'Montserrat', sans-serif;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button1 {
  background-color: #4CAF50;
  color: white;
  border: 2px solid #4CAF50;
	border-radius: 15px;
}
.button1:hover {
        background-color: white;
        color: #4CAF50;
}
.joinButton{
	color: white;
}
.joinButton:hover {
	opacity: 0.7;
}
.subsection{
	background-color: #63e5f2;
	width: 100vw;
}
input[type=text] {
	width: 15vw;
	height: 3vh;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	background-color: #3CBC8D;
	color: white;
}
@keyframes fadein{
	from{opacity: 0}
	to{opacity: 1}
}
@-webkit-keyframes fadein{
	from{opacity: 0}
	to{opacity: 1}
}
@keyframes fadeout{
	from{opacity: 1}
	to{opacity: 0}
}
@-webkit-keyframes fadein{
	from{opacity: 1}
	to{opacity: 0}
}
.appear{
	-webkit-animation: fadein 6s;
	animation: fadein 1s;
}
.disappear{
	-webkit-animation: fadeout 6s;
	animation: fadeout 6s;
}
.hidden{
	opacity: 0;
}
.sticky{
	position: fixed;
	top: 0;
	width: 100vw;
}
.appearInf{
	-webkit-animation: fadeout 6s infinite;
	animation: fadeout 6s infinite;
}
*{
	margin: 0;
}
section{
	display: inline-block;
	width: 100vw;
	background-color: #51D0DE;
}
