html{
	scroll-behavior: smooth;
}
body{
	overflow-x: hidden;
}
h1{
	font-size: 15vh;
	font-family: 'Josefin Sans', sans-serif;
	color: #bf4aa8;
}
h2{
	font-size: 6vh;
	font-family: Bookman Old Style;
	color: #bf4aa8
}
h3{
	font-size: 3vh;
	font-family: 'Roboto Slab', serif;
	color: white;
}
.menu{
	background-color: orange;
	
}
.menu a{
	display: inline-block;
        color: white;
        text-align: center;
        padding: 2vw;
        text-decoration: none;
	font-family: Bookman Old Style;
	font-size: 2vh;
}
.menu a:hover{
	color: red;
}
.profile{
	border-radius: 50%;
	width: 30vh;
	height: 30vh;
}
.homeImg{
	background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/00/10/02/06563189be798ab.jpg"); 
}
.button {
        border: none;
        padding: 16px 32px;
        text-align: center;
        display: inline-block;
        font-size: 2vh;
	font-family: Courier;
	border-radius: 15px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
}

.button1 {
        background-color: #4CAF50; 
        color: white; 
        border: 2px solid #4CAF50;
}
.button1:hover {
        background-color: white;
        color: #4CAF50;
}
.subsection{
	background-color: #63e5f2;
	width: 100vw;
}
input[type=text] {
	width: 15vw;
	height: 3vh;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	background-color: #3CBC8D;
	color: white;
}
@keyframes fadein{
	from{opacity: 0}
	to{opacity: 1}
}
@-webkit-keyframes fadein{
	from{opacity: 0}
	to{opacity: 1}
}
@keyframes fadeout{
	from{opacity: 1}
	to{opacity: 0}
}
@-webkit-keyframes fadein{
	from{opacity: 1}
	to{opacity: 0}
}
.appear{
	-webkit-animation: fadein 6s;
	animation: fadein 1s;
}
.disappear{
	-webkit-animation: fadeout 6s;
	animation: fadeout 6s;
}
.hidden{
	opacity: 0;
}
.sticky{
	position: fixed;
	top: 0;
	width: 100vw;
}
.appearInf{
	-webkit-animation: fadeout 6s infinite;
	animation: fadeout 6s infinite;
}
*{
	margin: 0;
}
section{
	display: inline-block;
	width: 100vw;
	background-color: #51D0DE;
}
